.product-features-marquee {
  border-radius: var(--radius-sm) !important;

  .scrolling-container {
    width: 90% !important;
  }

  ul {
    display: flex;
    align-items: center;
    gap: var(--spacing-32);

    li {
      display: flex;
      align-items: center;
      gap: var(--spacing-8);
      font-size: var(--spacing-14);

      .icon {
        width: var(--spacing-14);
        aspect-ratio: 1;
      }
    }
  }
}
