main {
	height: calc(100dvh - var(--spacing-12) * 2);
	width: 100%;
	position: relative;
	border-radius: var(--radius-lg);
	overflow: hidden;

	.back-home-link {
		display: flex;
		align-items: center;
		gap: var(--spacing-8);

		svg {
			height: var(--spacing-14);
		}
	}
}
