#shop-products-grid {
  --card-width: 400px;
  display: grid;
  gap: var(--spacing-12);
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));

  @media (width <= 1536px) {
    --card-width: 300px;
  }
}
