#hero-left-navbar {
	--size: var(--radius-2xl);

	display: flex;
	background: var(--background);
	border-radius: 0 0 var(--radius-2xl) 0;
	position: relative;
	padding: 0 var(--spacing-18) var(--spacing-4) var(--spacing-4);
	line-height: 1;
	font-size: 14px;

	ul {
		display: flex;
		align-items: center;
		gap: var(--spacing-18);
		list-style: none;
	}

	&::after {
		content: "";
		width: var(--size);
		aspect-ratio: 1;

		background-image: radial-gradient(
			circle at 100% 100%,
			transparent var(--size),
			var(--background) var(--size)
		);

		position: absolute;
		inset-block-start: 100%;
		inset-inline-start: 0;
	}

	&::before {
		content: "";
		width: var(--size);
		aspect-ratio: 1;

		background-image: radial-gradient(
			circle at 100% 100%,
			transparent var(--size),
			var(--background) var(--size)
		);

		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 100%;
	}
}

.menu-card-content {
	padding: var(--spacing-6);
	display: grid;
	gap: var(--spacing-6);
	width: 15rem;
	background: var(--background);

	&.about {
		width: 12rem;
	}

	.item {
		background: var(--color-card-bg);
		padding: var(--spacing-8);
		border-radius: var(--radius-lg);
		display: flex;
		align-items: center;
		gap: var(--spacing-8);
		width: 100%;
		transition: background var(--transition-standard-slow-effects);

		&:hover {
			background: var(--color-card-bg-hover);
		}

		.img-wrapper {
			width: var(--spacing-48);
			aspect-ratio: 1;
			border-radius: var(--radius-md);
			background: #cecece;
		}

		h4 {
			font-size: 14px;
		}

		.icon {
			margin-left: auto;
		}
	}
}
