#product-page {
  .product-container {
    min-height: 100vh;
    display: flex;
    gap: var(--spacing-20);

    > * {
      border-radius: var(--radius-md);
      &:first-child {
        flex: 60%;
      }
    }
  }

  .product-info {
    position: sticky;
    top: var(--spacing-12);

    min-height: 100vh;
    flex: 40%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);

    .shipping-accordion {
      h1 {
        color: var(--foreground);
        font-size: var(--spacing-16);
      }
    }
  }
}
