#product-page {
  .product-container {
    min-height: 100vh;
    display: flex;
    gap: var(--spacing-20);

    > * {
      border-radius: var(--radius-md);
      &:first-child {
        flex: 60%;
      }
    }
  }

  .product-info {
    height: 100vh;
    flex: 40%;
    position: sticky;
    align-self: flex-start;
    top: var(--spacing-12);
  }
}
