#shopping-cart-btn {
  width: fit-content;
  display: flex;
  gap: var(--spacing-6);
  align-items: center;
  padding: var(--spacing-4);
}

#shopping-cart-sheet {
  --transparent-bg-color: #00000047;

  border-radius: var(--radius-lg) 0 0 var(--radius-lg);
  padding: var(--spacing-12);

  button {
    cursor: pointer;
  }

  [data-slot="sheet-header"] {
    background: var(--color-card-bg);
    border-radius: var(--radius-md);

    h2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & ~ button {
      display: none;
    }

    .close-btn {
      background: var(--secondary);
    }
  }

  .cart-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .cart-items {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-8);

      .item {
        display: flex;
        gap: var(--spacing-12);
        padding-inline: var(--spacing-12);

        .img {
          position: relative;
          width: var(--spacing-96);
          aspect-ratio: 1;
          border-radius: var(--radius-md);
          overflow: hidden;
        }

        .details {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;

          .info {
            display: flex;
            justify-content: space-between;

            .quantity-price {
              display: grid;

              .price {
                font-size: 15px;
              }

              .compare_price {
                font-size: 12px;
                text-decoration: line-through;
                color: var(--muted-foreground);
              }
            }
          }

          .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            user-select: none;

            .quantity-selector {
              display: flex;
              gap: var(--spacing-8);
              align-items: center;

              padding: var(--spacing-4);
              background: var(--color-card-bg);
              border-radius: var(--radius-sm);
              color: var(--foreground);

              span {
                font-size: 12px;
              }

              button {
                background: var(--color-card-bg);
                padding: 0;
                color: var(--muted-foreground);
                width: 14px;
                height: 14px;
              }
            }

            .remove-btn {
              width: 30px;
              height: 30px;
              background: var(--color-card-bg);
            }
          }
        }
      }
    }

    .checkout {
      background: var(--color-card-bg);
      padding: var(--spacing-16) var(--spacing-24);
      border-radius: var(--radius-lg);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-16);

      .total {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
