#hero-slider {
  flex: 1;
  position: relative;
  border-radius: var(--radius-lg);
  user-select: none;

  .slider-container {
    --transparent-bg-color: #00000047;

    height: 100%;
    overflow: hidden;
    border-radius: var(--radius-lg);

    .slider-track {
      height: 100%;
      display: flex;
      list-style: none;
      transform: translateX(calc(var(--slider-item-index) * -100%));
      transition: var(--transition-standard-slow-spatial);

      .slider-item {
        position: relative;
        min-width: 100%;
        display: flex;
        align-items: end;
        padding: 3rem;

        .details {
          position: relative;
          background: var(--background);
          padding: var(--spacing-32);
          border-radius: var(--radius-md);
          max-width: 400px;

          h2 {
            font-size: var(--spacing-32);
            margin-bottom: var(--spacing-8);
            color: var(--primary);
            line-height: var(--text-xs--line-height);
            text-wrap: balance;
          }

          p {
            font-size: var(--font-size-16);
            margin-bottom: var(--spacing-16);
            color: var(--muted-foreground);
          }

          a {
            font-size: var(--spacing-14);
            text-decoration: underline;
            text-underline-offset: 3px;
          }

          @media (width <= 1024px) {
            padding: var(--spacing-18);
            max-width: 350px;

            h2 {
              font-size: var(--spacing-24);
            }

            p {
              display: none;
            }
          }

          @media (width <= 768px) {
            padding: var(--spacing-12);
            min-width: 100%;
            display: flex;
            flex-direction: column;

            h2 {
              font-size: var(--spacing-18);
              margin-bottom: 0;
            }
            a {
              margin-left: auto;
            }
          }
        }
      }
    }

    .slider__indicators {
      position: absolute;
      bottom: var(--spacing-24);
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: var(--spacing-8);
      background: var(--transparent-bg-color);
      padding: var(--spacing-8) var(--spacing-8);
      border-radius: var(--radius-rounded);

      button {
        width: var(--spacing-10);
        height: var(--spacing-10);
        border-radius: 50%;
        background: var(--color-white);
        opacity: 0.3;
        cursor: pointer;
        transition: var(--transition-standard-slow-spatial);

        &[aria-current="true"] {
          opacity: 1;
        }
      }
    }
  }
}
