#auth-wrapper {
  margin-top: var(--spacing-56);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-40);

  .auth-card {
    width: 450px;
    min-width: 400px;
    padding: var(--spacing-56);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border);
    background: var(--color-card-bg);
  }

  .back-btn {
    cursor: pointer;
    position: absolute;
    top: var(--spacing-24);
    left: var(--spacing-24);
  }
}

#auth-container {
  width: 100%;
  gap: var(--spacing-18);
  text-align: center;
  display: flex;
  flex-direction: column;

  .title {
    font-size: var(--spacing-32);
    color: var(--card-font-color);
    font-weight: 450;
    text-wrap: balance;
    line-height: 1.3;
  }

  .description {
    font-size: 15px;
    text-wrap: balance;
    color: var(--card-font-color);
  }

  button {
    cursor: pointer;
  }

  .actions {
    display: grid;
    gap: var(--spacing-8);

    button:nth-child(2) {
      color: var(--muted-foreground);
    }
  }

  .link-item {
    font-size: var(--spacing-14);
    color: var(--muted-foreground);
    a {
      color: var(--primary);
      text-decoration: underline;
      transition: var(--transition-expressive-default-spatial);

      &:hover {
        opacity: 0.8;
        text-decoration: underline;
      }
    }
  }
}
