#auth-container {
  margin-top: var(--spacing-56);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-40);

  .auth-card {
    width: 400px;
    min-width: 400px;
    padding: var(--spacing-56);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border);
    background: var(--color-card-bg);
  }

  .back-btn {
    cursor: pointer;
    position: absolute;
    top: var(--spacing-24);
    left: var(--spacing-24);
  }
}
