#login-container {
  width: 100%;
  gap: var(--spacing-18);
  text-align: center;
  display: flex;
  flex-direction: column;

  .title {
    font-size: var(--spacing-32);
    color: var(--card-font-color);
    font-weight: 450;
    text-wrap: balance;
    line-height: 1.3;
  }

  .description {
    font-size: 15px;
    text-wrap: balance;
    color: var(--card-font-color);
  }

  button {
    cursor: pointer;
  }

  .actions {
    display: grid;
    gap: var(--spacing-8);

    button:nth-child(2) {
      color: var(--muted-foreground);
    }
  }

  .link-item {
    font-size: var(--spacing-14);
    color: var(--muted-foreground);
    a {
      color: var(--primary);
      text-decoration: underline;
      transition: opacity var(--transition-expressive-default-spatial);

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
